{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Página de Login</h1>
    
    <form action="." id="loginForm" method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <input type="hidden" name="next" value="{{ next }}">

        <label for="username">Usuário: </label>
        <input type="text" id="username" name="username" required>

        <label for="password">Senha: </label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Entrar</button>
    </form>

</body>
</html>