<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
</head>
<body>
    {% for all_question in question %}
        <form action="{% url 'question' all_question.id %}" method="post">
        {% csrf_token %}  
        <h1>{{all_question.text}}</h1>
        <label for="opcoes">Opcões: </label>
        <ul>
            {% for answer in all_question.answer.all %}
                <input type="radio" id="opcao{{ forloop.counter }}" name="opcoes{{ all_question.id }}" value="{{answer.id}}">
                <label for="opcao{{forloop.counter}}">{{answer.text}}</label><br>
            {% endfor %}
        </ul>
    {% endfor %} 
        <button type="submit">Responder</button>
    </form>
</body>
</html>