{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/create_quiz/style.css' %}">
    <title>Create Quiz</title>
</head>
<body>
    <ul id="lista">

    </ul>
    <form action="." method="post" class="form-edit">
        {% csrf_token %}
        <label for="quiz">Digite o nome do Quiz: </label>
        <input type="text" name="quiz">
        <label for="description">Descreva sobre o Quiz: </label>
        <textarea name="idescription" id="description"></textarea>
        <input type="submit" value="Salvar">
    </form>

    <script src="{% static 'js/create_quiz/script.js' %}"defer></script>
</body>
</html>